<!DOCTYPE html>
<html>
<head>
    <title>Student CI Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">
    <h1>🏫 Student CI Test Platform</h1>

    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <br><br>

        <input type="password" name="password" placeholder="Password" required>
        <br><br>

        <button type="submit">Run CI Tests</button>
    </form>

    {% if result %}
    <div class="result">

        <h2>
            Status:
            {% if result.status == "PASS" %}
                <span class="pass">PASS</span>
            {% else %}
                <span class="fail">FAIL</span>
            {% endif %}
        </h2>

        <p>Total Tests: {{ result.total }}</p>
        <p>Passed: {{ result.passed }}</p>
        <p>Failed: {{ result.failed }}</p>

    </div>

    <div class="logs">
        <h3>CI Logs</h3>
        {% for log in logs %}
            <p>{{ log }}</p>
        {% endfor %}
    </div>

    {% endif %}
</div>

</body>
</html>